.X:where(.css-dev-only-do-not-override-nllxry).ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: red;
    font-family: 
    }

.X:where(.css-dev-only-do-not-override-nllxry).ant-btn-primary:not(:disabled):not(.ant-btn-disabled) {
    margin: 20% 0px 0px 80%;
    background-color: black;
}

:where(.css-dev-only-do-not-override-nllxry).ant-modal .ant-modal-footer .ant-btn+.ant-btn:not(.ant-dropdown-trigger) {
    background-color: rgb(0, 94, 255);
}

.Add:where(.css-dev-only-do-not-override-nllxry).ant-btn-dashed.ant-btn-background-ghost {
    margin: 10% 0px 0px 15%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    text-align:center;
    color: black;
    border-color: black;
}

.AddText {
    margin: 10% 0px 0px 15%;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 1.5rem;
    text-align:center;
    color: black;
    border-color: black;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    font-family: var(--mainFont);
}

.AddText .X:where(.css-dev-only-do-not-override-nllxry).ant-btn-primary:not(:disabled):not(.ant-btn-disabled) { 
    margin: 0px;
}
