
  @media  screen and (max-width: 800px) {
    .scrollTitle {
    margin-top: 3rem;
    font-size: 1.25rem;
    text-decoration: underline;
    cursor: pointer;
    }
    .text-7xl.text-7xl {
      margin-top: 20px;
      font-size: 2rem;
    }
    .bg-scroll.bg-scroll {
      width: 150px;
    }
    .AddText {
      font-size: 0.75rem;
      padding: 5px;
    }
  }