@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .font-main {
        font-family: var(--mainFont);
    }
}

@font-face {
    font-family:'Battlesbridge';
    src: url("/BattlesbridgeDemo-AL126.ttf");
    font-weight: normal;
    font-style: normal;
    }

:root {
    --mainFont:'Battlesbridge';
}

body {
    padding: 0px;
    margin: 0px;
}

.Pirateh1 {
    display: inline;
    font-size: 2rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-family: var(--mainFont)
}