@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'Battlesbridge';
    src: url("/BattlesbridgeDemo-AL126.ttf");
    font-weight: normal;
    font-style: normal;
    }

:root {
    --mainFont:'Battlesbridge';
}

body {
    padding: 0px;
    margin: 0px;
}